body {
    margin: 0;
    height:100vh;
    background: radial-gradient(circle, rgba(250,250,250,1) 25%, rgba(200,200,200,1) 100%);
}

#grid{
    position: fixed;
    top: 0; 
    left: 0; 
    height: 100%; 
    width: 100%; 
}

.whiteboard {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#UI {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 1%;
    z-index: 2;
    pointer-events: none; 
    display: flex;
    justify-content: center;
    /* make non-selectable */
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#slider{
    width: 125px;
    pointer-events: auto;
}


.color {
    position: relative;
    border: none;
    padding: 25px;
    border-radius: 50%;
    transition: 0.5s;
    pointer-events: auto;
    margin-left: 8px;
}
.color:hover {
    border: 5px solid rgba(0, 255, 255, 0.5);
    padding: 45px;
    transition: 0.5s;
}
.color2 {
    position: relative;
    border: none;
    padding: 45px;
    border-radius: 50%;
    transition: 0.5s;
    border: 5px solid aqua;
    margin-left: 8px;
}
#black {
    background-color: black;
}
#red {
    background-color: red;
}
#green {
    background-color: green;
}
#blue{
    background-color: blue;
}


/* draw.html css */
#noclick {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 3;
}

#box {
    position: absolute;
    width: 1000px;
    height: 600px;
    background: linear-gradient(45deg, rgba(0,26,255,0.8) 0%, rgba(0,232,255,0.8) 100%);
    left: 50%;
    top: 50%;
    margin-left: -500px;
    margin-top: -350px;
    border: 50px;
    border-radius: 25px;
    z-index: 3;
}

#userinput {
    position: absolute;
    z-index: 4;
    left: 35%;
    top: 19%;
}

.text {
    font-size: 50px;
    font-family:"Arial",Times,serif;
    color: black;
}

#usertextbox {
    font-size: 50px;
}

.textbox {
    font-size: 50px;
}

#error {
    font-size: large;
    color: red;
    margin-left: 40%;
    margin-bottom: 5px;
}

#create{
    margin-left: 30%;
}
#join {
    margin-left: 20%;
}

#hide {
    display: none;
}